* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}

/* Text */

h1,
h2 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

p {
    line-height: 1.4;
    text-shadow: 1px 1px 1px #000;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #40a5c6;
}

h1 a,
h1 a:hover,
h1 a:visited {
    text-decoration: none;
}

p a {
    font-weight: 700;
}

/* Header */

header {
    position: relative;
    top: -100px;
    left: -165px;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 60px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    text-align: center;
    margin-top: -200px;
}

header h1 {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 10px 0;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

header h1 span {
    font-weight: 300;
}

header p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
}

#body_container {
  position: absolute;
  left: 50%;
  top: 50%;
}

#content {
  position: relative;
  top: 125px;
  left: -165px;
  z-index: 999;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 40px;
  width: 350px;
  height: 190px;
  border-radius: 5%;
  text-align: center;
  font-size: 4em;
  margin-top: -200px;
}

#content > a {
    top: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 10px 0;
    transition: all 0.5s ease;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    font-weight: bold;
    display: inline-block;
}

#content > a:hover {
    border-bottom: 4px solid rgba(255, 255, 255, 1);
    /*font-weight: bold;*/
}

#footer_container {
  position: absolute;
  top: 100%;
  left: 50%;
}

#footer {
  position: relative;
  top: -55px;
  left: -165px;
  z-index: 999;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 40px;
  width: 350px;
  height: 50px;
  border-radius: 5%;
  text-align: center;
  font-size: 1em;
  margin-top: -200px;
}

/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.video-title {
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: .5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}
